@import '../../style.scss';

.navbar{
    background-color: rgb(66, 64, 64);
    height:9vh;
    width:100vw;
    color:white;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:0;

    @include tablet{
        position: fixed;
        z-index: 99;
        height:7vh;
    }
    @include mobile{
        position: fixed;
        z-index: 99;
    }
    @include small-mobile{
        position: fixed;
        z-index: 99;
    }
    .nav-dropdown{
        font-size: 1.3rem;
        display: flex;
        gap:.5rem;
    }
}