/****************** MEDIA QUERIES (MIXINS) ************************/
@mixin tv {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) and (max-width: 1399px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin small-mobile {
  @media screen and (max-width: 566px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;

  @include tv() {
    font-size: 100%;
  }
  @include desktop() {
    font-size: 75%;
  }
  @include laptop() {
    font-size: 75%;
  }
  @include tablet() {
    font-size: 80%;
  }
  @include mobile() {
    font-size: 75%;
  }
//   @include small-mobile() {
//     font-size: 70%;
//   }
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Poppins", sans-serif;
  background:rgba(217, 212, 212, 0.818);

  padding: 0 8rem;
  height: 100vh;

  @include tablet {
    padding: 0 1rem;
  }
  @include mobile {
    padding: 0 .5rem;
  }
}
