@import "../../style.scss";

.map-container{
    height:100%;
    width:100%;
    font-size: 2rem;
   @include tablet{
       height:50vh;
       width:100%;
   }

   .google-map{
    @include tablet{
      height:100%;
       width:100%;
    }
       
   }
}